<div class="wrapper">
  <div class="banner">
    <img src="assets/images/cv_img.png" alt="User Image" />
  </div>
  <div class="info">
    <p>
      Lo There! I'm Arjit Malik, a university student at day and a
      javascript/typescript developer by night.
    </p>
    <br />
    <p>
      My interest in computer science invoked in my 11<sup>th</sup> standard
      when we were learning java and sql programs to connect a database with a
      java program using JDBC, in time without me realising, this interest of
      mine developed into a passion. Hopped into my first year of bachelors in
      Computer Science and Engineering with specialization in artificial
      intelligence and machine learning, it was a wonderful choice to make as I
      got to meet similarly interested people. It's in my second year I went
      into the rabbit hole of linux, programming, data structures and all the
      cool stuff a software engineer could crave for.
    </p>
    <br />
    <p>
      And, here I am now about to enter the 4<sup>th</sup> year of my bachelors,
      successfully completing two internships, hosting several webinars
      educating people, and trying to create weird and innovative programs and
      peices of software just like this one.
    </p>
    <br />
    <p>
      The inspiration of my portfolio website looking more like a terminal than
      a regular website with clickable buttons and graphics is that I'm a sucker
      for terminal and TUI's. I started using linux and got dazzled by how
      configurable it is, so I got an idea that I should make a terminal website
      for my portfolio because that's what I spend most of my time on.
    </p>
    <br />
    <p>
      "<i
        >In the end, every day was a new programming problem to solve, every
        challenge is an oppurtunity to learn, and by making your way through
        these hurdles you will have a way to debug your life.</i
      >"
      <br />
      - said by a bug under my bed.
    </p>
  </div>
  <br />
  <div class="gears">
    <p>Some of my preferred choices of software and tools</p>
    <br />
    <ul>
      <li>OS : Arch Linux</li>
      <li>
        Editor & IDE : Neovim ( yeah' with a bunch of plugins and configurations
        )
      </li>
      <li>Discussions : Reddit , Discord</li>
      <li>Window Manager : i3wm</li>
      <li>Desktop Environment : Nah! I dont have one..</li>
      <li>
        Colorscheme : Tokyonight (Shoutout to
        <a href="https://github.com/folke">folke</a>)
      </li>
      <li>
        Terminal Emulator : Kitty (Shoutout to
        <a href="https://github.com/kovidgoyal">Kovid Goyal</a>)
      </li>
    </ul>
    <br />
    <p>To find my dotfiles go to <span class="markup">rice</span></p>
    <p>To find my projects go to <span class="markup">projects</span></p>
    <br />
    <p>API of mine:</p>
    <br />
    <ul>
      <li>lovesFootball(): boolean : true</li>
      <li>lovesAnime(): boolean : true</li>
      <li>smokes(): boolean : false</li>
      <li>programmingScale(): int: 7</li>
      <li>lovesASCIIArt(): boolean: true</li>
      <li>
        fromSoftwareGamesTitles(): string: "Sekiro, Elden Ring, Bloodborne, Dark
        Souls 3"
      </li>
      <li>dreamDevJob(): string: "Video Game Developer"</li>
    </ul>
  </div>
  <p class="quit-msg">Press q to quit</p>
  <input (document:keyup.q)="navigateHome()" />
</div>
