<label for="prompt-text"
  ><span class="bracket">[</span>visitor@lovi <span class="tilde">~</span
  ><span class="bracket">]</span><span class="bang">$ </span>
</label>
<input
  #prompt
  type="text"
  class="prompt-text"
  name="prompt-text"
  spellcheck="false"
  autocomplete="off"
  (keyup.enter)="executeCmd(prompt.value)"
/>

<!-- <div [ngSwitch]="cmd"> -->
<!--   <div *ngSwitchCase="'banner'"> -->
<!--     <app-banner></app-banner> -->
<!--   </div> -->
<!--   <div *ngSwitchCase="'help'"> -->
<!--     <app-help></app-help> -->
<!--   </div> -->
<!--   <div *ngSwitchCase="'social'"> -->
<!--     social -->
<!--     <app-prompt></app-prompt> -->
<!--   </div> -->
<!--   <div *ngSwitchDefault> -->
<!--     <div>hey</div> -->
<!--   </div> -->
<!-- </div> -->

<!-- <ng-template #loading> -->
<!--   <div>Loading...</div> -->
<!-- </ng-template> -->
<div *ngIf="validCmds.includes(cmd); else cmdNotFound">
  <ng-template [ngIf]="cmd == 'banner'">
    <app-banner></app-banner>
  </ng-template>
  <ng-template [ngIf]="cmd == 'help'">
    <app-help></app-help>
  </ng-template>
</div>

<ng-template #cmdNotFound>
  <app-error></app-error>
</ng-template>
