body {
  background-color: #15161e;
  height: 100vh;
  width: 100%;
  padding: 10px;
  display: flex;
}

.main_wrapper {
  padding: 10px;
  border: 5px solid #7aa2f7;
  border-radius: 10px;
  flex-grow: 1;
}

h3 {
  color: #9ece6a;
}

pre {
  font-size: 15px;
}

.prompt-flex {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

.prompt-text {
  background-color: #15161e;
  border: none;
  caret-color: #7aa2f7;
  color: #c0caf5;
  outline: none;
  font-size: 1em;
  width: 70%;
  min-width: 300px;
}

.tilde {
  color: #f77683;
}

.bang {
  color: #7aa2f7;
}

.bracket {
  color: #9ece6a;
}
