<div>
  <p>Few projects I have curated solo...</p>
  <br />
  <p class="prjName">
    Guess the number
    <a
      class="prjLink"
      href="https://arjitmalik.github.io/guess_the_number/"
      target="_blank"
      rel="noopener noreferrer"
      ><i class="bi bi-box-arrow-up-right"></i
    ></a>
    <a
      class="prjGh"
      href="https://github.com/ARJITMALIK/guess_the_number"
      target="_blank"
      rel="noopener noreferrer"
      ><i class="bi bi-github"></i
    ></a>
  </p>
  <p class="description">- A simple number guessing game</p>
  <p class="prjName">
    Bankist
    <a
      class="prjLink"
      href="https://arjitmalik.github.io/bankist/"
      target="_blank"
      rel="noopener noreferrer"
      ><i class="bi bi-box-arrow-up-right"></i
    ></a>
    <a
      class="prjGh"
      href="https://github.com/ARJITMALIK/bankist"
      target="_blank"
      rel="noopener noreferrer"
      ><i class="bi bi-github"></i
    ></a>
  </p>
  <p class="description">- A simple and minimalistic banking app frontend</p>
  <p class="prjName">
    Chirp
    <a
      class="prjLink"
      href="exp://exp.host/@arjitmalik/Chirp"
      target="_blank"
      rel="noopener noreferrer"
      ><i class="bi bi-box-arrow-up-right"></i> ( Use expo go app )</a
    >
  </p>
  <p class="description">- A live global chat cross-platform application</p>
  <p class="prjName">
    Housinger
    <a
      class="prjGh"
      href="https://github.com/ARJITMALIK/housinger"
      target="_blank"
      rel="noopener noreferrer"
      ><i class="bi bi-github"></i
    ></a>
  </p>
  <p class="description">- A multiple regressor house price predictor</p>
  <p class="prjName">
    Dots
    <a
      class="prjGh"
      href="https://github.com/ARJITMALIK/dotfiles"
      target="_blank"
      rel="noopener noreferrer"
      ><i class="bi bi-github"></i
    ></a>
  </p>
  <p class="description">- Linux ricing scripts</p>
  <p class="prjName">
    Anpr
    <a
      class="prjGh"
      href="https://github.com/ARJITMALIK/anpr"
      target="_blank"
      rel="noopener noreferrer"
      ><i class="bi bi-github"></i
    ></a>
  </p>
  <p class="description">- Automatic number plate recognition system</p>
  <br />
</div>
<app-prompt></app-prompt>
