.prjName {
  padding-left: 20px;
  color: #9ece6a;
  text-shadow: #9ece6a 0 0 10px, #9ece6a 0 0 20px;
  animation: blip 0.4s forwards;
}

.description {
  text-indent: 30px;
}

.prjGh {
  padding: 0px 10px;
}

a {
  text-decoration: none;
}
