<div class="userfetch">
  <div class="banner">
    <pre>
          _                            _
       _==/          i     i           \==
     /XX/            |\___/|            \XX\
   /XXXX\            |XXXXX|            /XXXX\
  |XXXXXX\_         _XXXXXXX_         _/XXXXXX|
 XXXXXXXXXXXxxxxxxxXXXXXXXXXXXxxxxxxxXXXXXXXXXXX
|XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX|
XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
|XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX|
 XXXXXX/^^^^"\XXXXXXXXXXXXXXXXXXXXX/^^^^^\XXXXXX
  |XXX|       \XXX/^^\XXXXX/^^\XXX/       |XXX|
    \XX\       \X/    \XXX/    \X/       /XX/
       "\       "      \X/      "       /"
                        !
    </pre>
  </div>
  <div class="info">
    <p>arjit@arjitmalik.com</p>
    <p>
      <span class="fetchicon"><i class="bi bi-display"></i></span> Resolution :
      {{ resolution }}
    </p>
    <p>
      <span class="fetchicon"><i class="bi bi-globe2"></i></span> Browser :
      {{ browser }}
    </p>
    <p>
      <span class="fetchicon"><i class="bi bi-terminal"></i></span> Terminal :
      kitty
    </p>
    <p>
      <span class="fetchicon"><i class="bi bi-fonts"></i></span> Font :
      JetBrains Mono
    </p>
    <div class="colors">
      <div class="blue color-box"></div>
      <div class="green color-box"></div>
      <div class="red color-box"></div>
      <div class="orange color-box"></div>
      <div class="white color-box"></div>
      <div class="violet color-box"></div>
    </div>
  </div>
</div>
<app-prompt></app-prompt>
