pre {
  color: #bb9af7;
  text-shadow: #bb9af7 0 0 10px, #bb9af7 0 0 20px, #bb9af7 0 0 30px,
    #bb9af7 0 0 40px;
  animation: blip-banner 0.7s forwards;
}

.markup {
  color: #15161e;
  background-color: #c0caf5;
  border-radius: 5px;
  padding: 0px 5px;
}
